.cell {
  font-size: 12px;
  text-align: center;
  border: 2px solid gray;
  padding: 7px 60px;
}
.head {
  background-color: blue;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: 2px solid gray;
  padding: 7px 60px;
}
.transaction-history {
  border-collapse: collapse;
}
